{% load i18n rev static %}

<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
  <title>{% block title %}{% trans "Django Girls - start your journey with programming" %}{% endblock %}</title>
  <meta name="description" content="{% block description %}{% trans "Django Girls is a one-day workshop about programming in Python and Django for women." %}{% endblock %}">
  <meta name="keywords" content="programming, python, django, workshop, women, females">
  <link href="{% static 'img/favicon.ico' %}" rel="shortcut icon">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="{% block og_title %}{% trans "Django Girls is a one-day workshop about programming in Python and Django for women" %}{% endblock %}" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="{% block og_description %}{% trans "Join us and become a female developer! Build your first website in Python and Django in a friendly, safe environment." %}{% endblock %}" />
  <meta property="og:image" content="{% block og_image %}https://raw.githubusercontent.com/olasitarska/djangogirls/gh-pages/resources/graphics/logo_square.png{% endblock %}" />
  
  <link rel="stylesheet" href="//brick.a.ssl.fastly.net/Lora:400,700,400i,700i/Roboto:300,400,300i,400i">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  {% block main_stylesheet %}<link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}" media="screen">{% endblock %}
  {% block extra_css %}{% endblock %}
  
  <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.js'></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
  {% block extra_js %}{% endblock %}
</head>
<body>
    <div class="page-wrap">
        {% block menu %}
            {% include 'global/menu.html' %}
        {% endblock %}

        {% block content %}{% endblock %}
    </div>

    {% block footer %}
        {% include 'global/footer.html' %}
    {% endblock %}

    {% include 'includes/js.html' %}
</body>
</html>
